h1 {
    text-align: center;
}
#board {
    display: grid;
    justify-content: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    margin-bottom: 5px;
    width: 490px;
    height: 50px;
}

.col {
    border: 1px solid black;
}

